.blform {
    display: none;
}

.authform{
    display: none;
}

.recoverpage{
    display: none;

}

.userslider{
    position: relative;
    animation-duration: 20s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

.adminslider{
    position: relative;
    animation-duration: 20s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

@keyframes slidein{
    0% { left: -50px; }
    33% { left: -682px; }
    66% { left: -1364px; }
    99% { left: -2000px; }
    
}

